html {
  background-image: linear-gradient(
    to right,
    rgb(35, 140, 158),
    rgb(27, 104, 163)
  );
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.application-main-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 253, 255, 0.87);
  border: solid 3px black;
  margin: 10px;
  padding: 10px;
  width: 15%;
  text-align: center;
  border-radius: 4px;
}

button {
  background-color: #5f4b6344;
  border-radius: 4px;
  color: black;
  padding: 0px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 150px;
}
input {
  background-color: #5f4b6344;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 70px;
}

.inputs {
  align-self: center;
  border: solid 3px black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 180px;
  border-radius: 4px;
}

.init-button-div {
  align-self: center;
  border: solid 3px black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 180px;
  border-radius: 4px;
}

.timer {
  height: auto;
  border: solid 3px black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

a {
  text-decoration: none;
}

.btn {
  width: 150px;
  border-radius: 4px;
  background-color: grey;
  color: black;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.main-div {
  display: flex;
  flex-direction: column;
}
