

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #000;
  padding: 3rem;
  background-color: rgb(216, 216, 216);
  box-sizing: border-box;
}


.application-main-div {
  background-color: rgb(199, 222, 226);
  height: 70rem;

  width: 35vw;
  position: absolute;
  top: 40%;
  /* in relation to parent */
  left: 50%;
  /* in relation to parent */
  transform: translate(-50%, -50%);
  /* in relation to self */
  box-shadow: 0 .5rem 1rem .2rem rgba(136, 136, 136, 0.809);
}

.nav-bar {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgb(138, 223, 238),
    rgb(74, 93, 107)
  );
  height: 16rem;
  width: 100%;
}

.nav-bar-auth {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 25rem;
  left: 85%;
  transform: translateX(-70%);
  padding: 1rem;
}

.nav-bar-not-auth {
  position: absolute;
  width: 25rem;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar-links {
  display: block;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
}

.link {
  display: inline-block;
  padding: 1rem;
  font-size: 2rem;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

.link:hover {
  animation-name: slideUp;
  animation-duration: 1s;
}

@keyframes slideUp {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

a:visited {
  color: #000;
}

a:link {
  color: #000;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  display: block;
  border-radius: 50%;
}

.login-button,
.logout-button {
  display: inline-block;
  width: 10rem;
  font-size: 1.4rem;
}

.initialise-div {
  background-color: rgb(199, 222, 226);
  display: flex;
  height: 40rem;

  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem;
  font-size: 1.8rem;
  font-weight: 400;
}

.initialise-div input {

    display: inline-block;
    width: 15rem;
    height: 2.5rem;
    padding: 0;
    font-size: 14pt;
    border: solid .05rem #000;
  
}



.initialise-p {
  padding-bottom: 1.5rem;
  font-style: italic;
}

input {
  margin-left: 1rem;
  margin-right: 1rem;
  text-align: center;
}

.timer-div {
  background-color: rgb(199, 222, 226);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-basis: 40rem;
  height: 40rem;
  margin: 1rem;
  padding: 1rem;
}

.timer {
  background-color: rgb(199, 222, 226);

  display: flex;

  align-items: center;
  flex-direction: column;
}

.phase-display {
  font-size: 4.8rem;
  font-weight: 600;
}

.seconds-display {
  font-size: 9.6rem;
  font-weight: 700;
}

.sets-display {
  font-size: 3.6rem;
  font-weight: 500;
}

.max-hang-checkbox-div {
  padding: 1rem;
}
.timer-buttons-div {
  display: inline-block;
  padding-bottom: 1rem;
}

.save-session-div {
  background-image: linear-gradient(
    to bottom,
    rgb(138, 223, 238),
    rgb(74, 93, 107)
  );
  display: flex;

  align-items: center;
  flex-direction: column;
}

.please-login-div {
  text-align: center;
}

.saved-div {
  text-align: center;
}

.save-session-button-div {
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.init-button-div {
  padding: 1rem;
}

.graph {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 2rem;
}

.button-timer, .button-init {
  display: inline-block;
  width: 9rem;
  font-size: 1.4rem;
  text-align: center;
}

.button-save {
  display: inline-block;
  width: 14rem;
  font-size: 1.4rem;
  text-align: center;
}

