* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #000;
  padding: 30px;
  background-color: rgb(216, 216, 216);
}


.application-main-div {
  background-color: rgb(199, 222, 226);
  height: 700px;

  width: 35vw;
  position: absolute;
  top: 40%;
  /* in relation to parent */
  left: 50%;
  /* in relation to parent */
  transform: translate(-50%, -50%);
  /* in relation to self */
  box-shadow: 0 5px 10px 2px rgba(136, 136, 136, 0.809);
}

.nav-bar {
  position: relative;
  background-image: linear-gradient(
    to bottom,
    rgb(138, 223, 238),
    rgb(74, 93, 107)
  );
  height: 160px;
  width: 100%;
}

.nav-bar-auth {
  display: flex;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  width: 250px;
  left: 85%;
  transform: translateX(-70%);
  padding: 10px;
}

.nav-bar-not-auth {
  position: absolute;
  width: 250px;
  left: 100%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.nav-bar-links {
  display: block;
  position: absolute;
  left: 15%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
}

.link {
  display: inline-block;
  padding: 10px;
  font-size: 20px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #000;
}

.link:hover {
  animation-name: slideUp;
  animation-duration: 1s;
}

@keyframes slideUp {
  0% {
    transform: translateY(-10%);
  }
  50% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(0%);
  }
}

a:visited {
  color: #000;
}

a:link {
  color: #000;
}

.profile {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.profile-picture {
  border-radius: 50%;
}

.login-button,
.logout-button {
  width: 100px;
}

.initialise-div {
  background-color: rgb(199, 222, 226);
  display: flex;
  height: 400px;

  align-items: center;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  font-size: 18px;
  font-weight: 400;
}

.initialise-div input {

   
    width: 150px;
    height: 25px;
    padding: 0px;
    font-size: 14pt;
    border: solid 0.5px #000;
  
}



.initialise-p {
  padding-bottom: 15px;
  font-style: italic;
}

input {
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
}

.timer-div {
  background-color: rgb(199, 222, 226);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  flex-basis: 400px;
  height: 400px;
  margin: 10px;
  padding: 10px;
}

.timer {
  background-color: rgb(199, 222, 226);

  display: flex;

  align-items: center;
  flex-direction: column;
}

.phase-display {
  font-size: 48px;
  font-weight: 600;
}

.seconds-display {
  font-size: 96px;
  font-weight: 700;
}

.sets-display {
  font-size: 36px;
  font-weight: 500;
}

.max-hang-checkbox-div {
  padding: 10px;
}
.timer-buttons-div {
  display: inline-block;
  padding-bottom: 10px;
}

.save-session-div {
  background-image: linear-gradient(
    to bottom,
    rgb(138, 223, 238),
    rgb(74, 93, 107)
  );
  display: flex;

  align-items: center;
  flex-direction: column;
}

.please-login-div {
  text-align: center;
}

.saved-div {
  text-align: center;
}

.save-session-button-div {
  display: flex;
  justify-content: center;
  padding: 10px;
}
.init-button-div {
  padding: 10px;
}

.graph {
  display: flex;
  align-items: stretch;
  justify-content: center;
  padding: 20px;
}
/* html {
  background-image: linear-gradient(
    to right,
    rgb(35, 140, 158),
    rgb(27, 104, 163)
  );
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.application-main-div {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 253, 255, 0.87);
  border: solid 3px black;
  margin: 10px;
  padding: 10px;
  width: 15%;
  text-align: center;
  border-radius: 4px;
}

button {
  background-color: #5f4b6344;
  border-radius: 4px;
  color: black;
  padding: 0px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 150px;
}
input {
  background-color: #5f4b6344;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  padding: 5px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  width: 70px;
}

.inputs {
  align-self: center;
  border: solid 3px black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 180px;
  border-radius: 4px;
}

.init-button-div {
  align-self: center;
  border: solid 3px black;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 180px;
  border-radius: 4px;
}

.timer {
  height: auto;
  border: solid 3px black;
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 24px;
  color: rgb(255, 255, 255);
  border-radius: 15px;
}

a {
  text-decoration: none;
}

.btn {
  width: 150px;
  border-radius: 4px;
  background-color: grey;
  color: black;
}

.navbar-nav {
  display: flex;
  justify-content: space-evenly;
}

.main-div {
  display: flex;
  flex-direction: column;
} */
